{% extends 'base.html' %}
{% block content %}

<div>
    <p class = "h1">
        Scott Carrig
        Richardson, TX 75081 
        (520) 256-6251 
        dcarrig1@gmail.com
    </p>

    <p>
        SUMMARY
        Versatile Java software developer with five years of experience in designing and
        developing large and small projects. Experience with backend web development
        using Spring Boot and integration with Angular JS. Also have experience with
        JavaScript, Python, and HTML.
    </p>


    <p>
        SKILLS 
        Python
        Flask
        Javascript
        Core Java Software Development
        Object Oriented Software Design
    </p>

    <p>
        WORK HISTORY 
        SOFTWARE DEVELOPER 02/2017 to CURRENT
        Istation | Dallas, TX
        Develop educational software for elementary and middle schools. Work closely
        with curriculum writers and artists to create functionality for educational games
        and interactive lessons in a Java based programming environment.
    </p>

    <p>
        EDUCATION 
        Bachelor of Science | Computer Science 05/2016
        University Of Arizona, Tucson, AZ
    </p>

    <p>
        PROJECTS 

        Lord of the Rings Quote Website: 
    
        Istation Middle School Reading Curriculum - Programmed the
        functionality of the middle school reading project at Istation. Coded a large
        variety of educational lessons in Java, including games and interactive
        conversations with characters.
        Cookie Land E-Commerce Website - Built a functional full stack website
        as a way to learn Angular JS with Spring Boot. Contains e-commerce
        functionality such as making purchases, creating user accounts, and
        saving user information.
        Java Game Engine - Created a 2D game engine as a personal project
        using Core Java 8. Coded sprite rendering, entity behavior, and collision,
        as well as other functionality needed for a 2D game.
    </p>

</div>

{% endblock %}